# venv
**/bin/
**/lib/
**/pyvenv.cfg
**/share/man/**
**/.Python
warpwails/
VeilOfSilence/VeilOfSilence/
EyeOfTerror/EyeOfTerror/
CoreOfMadness/kormed2/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# torch/transformers кеши
~/.cache/
.cache/
huggingface/
*.pt
*.bin
*.safetensors

# build/logs
dist/
build/
logs/
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Sharomyga module ---
Sharomyga/venv_sharomyga/
Sharomyga/**/*.pyc
Sharomyga/**/__pycache__/
Sharomyga/.env
Sharomyga/logs/
Sharomyga/runtime/
Sharomyga/tmp/
